html {
    min-height: 100vh;
}

body {
    background: linear-gradient(to bottom, #E55A00, #C5A4B9, #E55A00);

}

.imGrecia {
    color: white;
    font-size: 70px;
    font-weight: bold;
    font-family: "Playfair Display";
    margin-top: 180px;
    margin-bottom: 1px;
    text-align: center;
}

#par2 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    font-family: "IBM Plex Mono";
    margin-top: 2px;
    margin-bottom: 10px;
    text-align: center;

}

#par3 {
    color: white;
    font-size: 30px;
    font-family: "IBM Plex Mono";
    margin-top: 2px;
    text-align: center;

    text-align: center;
}

.nav {
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    position: fixed;
    display: flex;
    margin-left: 65px;
    margin-top: 20px;
    z-index: 50;
    background: rgba(122, 120, 120, 0.2);
}

.nav a {
    font-size: 32px;
    font-family: "Playfair Display";
    color: white;
    display: inline-block;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.nav i {
    color: white;
    padding: 20px 60px;
}

.nav i:hover {
    color: rgb(183, 154, 197);
}

.hero {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    background-color: transparent;
    color: white;
    padding: 16px 18px;
    border-radius: 15px;
    border-color: white;
    text-align: center;
    border-style: solid;
    width: 180px;
    height: 75px;
    margin-bottom: 30px;
    margin-right: 30px;
    font-size: 20px;

}

.btn:hover {
    background-color: rgb(183, 154, 197);
}

.herobtn {
    display: flex;
    align-items: flex-end;
}

.logo {
    margin-top: 35px;
    margin-right: 0;
    margin-left: 30px;
}

.heroText {
    align-content: center;
    margin-bottom: 120px;
    margin-right: 50px;
}

.aboutg {
    position: relative;
    padding: 100px;
    width: 1000px;
    height: 500px;
}

.overlayg {
    position: absolute;
    width: 100px;
    height: 100px;
}

.overlay1g {
    font-family: "Syne";
    font-size: 30px;
    color: #E55A00;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    background: white;
    width: 350px;
    position: absolute;
    z-index: 20;
    left: -37px;
}

.overlay2g {

    left: 50px;
    z-index: 20;
    font-size: 25px;
    font-family: "IBM Plex Mono";
    color: white;
    border-style: solid;
    border-color: white;
    width: 600px;
    padding: 50px;
    padding-right: 200px;
    position: absolute;
    top: 35px;
    left: 120px;
    z-index: 10;
}

.overlay3g {
    position: absolute;
    left: 800px;
    z-index: 20;
    top: 85px;
    border-radius: 500px;
    height: 350px;
    width: 275px;
}

.skills {
    position: relative;
    padding: 100px;
    width: 1070px;
    height: 800px;
}

.skillsHeader {
    font-size: 80px;
    font-family: "Playfair Display";
    color: white;
    position: absolute;
    top: -45px;
    left: -12px;
    z-index: 30;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.skill {
    font-size: 40px;
    font-family: 'Syne';
    color: white;
    padding: 20px
}

.ulskills {
    font-size: 19px;
    font-family: 'IBM Plex Mono';
    color: white;
}

.skill1 {
    position: absolute;
    top: 190px;
    left: 95px;
    z-index: 30;
}

.skill2 {
    position: absolute;
    top: 190px;
    right: 719px;
    z-index: 30;
}

.skill3 {
    position: absolute;
    top: 190px;
    right: 403px;
    z-index: 30;
}

.skill4 {
    position: absolute;
    top: 190px;
    right: 151px;
    z-index: 30;
}

.skills1 {
    border-style: solid;
    border-radius: 30px;
    border-color: white;
    height: 70px;
    width: 150px;
    height: 350px;
    padding: 50px;
    position: absolute;
    top: 280px;
    left: 70px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 30;
}

.skills2 {
    border-style: solid;
    border-radius: 30px;
    border-color: white;
    height: 70px;
    width: 150px;
    height: 350px;
    padding: 50px;
    position: absolute;
    top: 280px;
    left: 365px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 30;
}

.skills3 {
    border-style: solid;
    border-radius: 30px;
    border-color: white;
    height: 70px;
    width: 150px;
    height: 350px;
    padding: 50px;
    position: absolute;
    top: 280px;
    left: 660px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 30;
}

.skills4 {
    border-style: solid;
    border-radius: 30px;
    border-color: white;
    height: 70px;
    width: 150px;
    height: 350px;
    padding: 50px;
    position: absolute;
    top: 280px;
    left: 950px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 30;
}

.circles {
    position: relative;
}

.circle1 {
    width: 123px;
    height: 123px;
    position: absolute;
    top: -310px;
    left: 324px;
}

.circle2 {
    position: absolute;
    top: -179px;
    left: -162px;
    width: 213px;
    z-index: 10;
    transform: rotate(180deg);
}

.circle3 {
    position: absolute;
    width: 70px;
    left: 235px;
    top: -100px;
}

.circle5 {
    position: absolute;
    bottom: -605px;
    right: -78px;
    width: 179px;
    transform: rotate(245deg);
}

.circle4 {
    position: absolute;
    left: 200px;
    bottom: -490px;
    width: 400px;
}

.circle7 {
    position: absolute;
    bottom: -231px;
    right: -93px;
    width: 75px;
    transform: rotate(160deg);
}
