html {
    min-height: 100vh;
}
body {
    background: linear-gradient(to bottom, #E55A00, #C5A4B9, #E55A00);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}
.imGrecia {
    color: white;
    font-size: 70px;
    font-weight: bold;
    font-family: "Playfair Display";
    margin-top: 180px;
    margin-bottom: 1px;
    text-align: center;
}
#par2 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    font-family: "IBM Plex Mono";
    margin-top: 2px;
    margin-bottom: 10px;
    text-align: center;

}
#par3 {
    color: white;
    font-size: 30px;
    font-family: "IBM Plex Mono";
    margin-top: 2px;
    text-align: center;
    text-align: center;
}
.nav {
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    position: fixed;
    display: flex;
    margin-left: 75px;
    margin-top: 20px;
    z-index: 50;
    background: rgba(122, 120, 120, 0.5);
}
.nav a {
    font-size: 32px;
    font-family: "Playfair Display";
    color: white;
    display: inline-block;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
}
.nav a:hover {
    text-decoration: underline;
}

.nav i {
    color: white;
    padding: 20px 60px;
}

.nav i:hover {
    color: rgb(183, 154, 197);
}
.btn {
    background-color: transparent;
    color: white;
    padding: 16px 18px;
    border-radius: 15px;
    border-color: white;
    text-align: center;
    border-style: solid;
    width: 180px;
    height: 75px;
    margin-bottom: 30px;
    margin-right: 30px;
    font-size: 20px;

}

.btn:hover {
    background-color: rgb(183, 154, 197);
    color: white;
}

.herobtn {
    display: flex;
    align-items: flex-end;
}

.logo {
    margin-top: 35px;
    margin-right: 0;
    margin-left: 30px;
}
.heroText {
    align-content: center;
    margin-bottom: 120px;
    margin-right: 50px;
}
.aboutg {
    position: relative;
    padding: 100px;
    width: 1280px;
    height: 500px;
    display: flex;
    margin-left: 14rem;
}

.overlay1g {
    font-family: "Syne";
    font-size: 30px;
    color: #E55A00;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    background: white;
    width: 350px;
    position: absolute;
    left: -5rem;
    top: 117px;
    z-index: 30;
   
    
}
.overlay2g {
    font-size: 25px;
    font-family: "IBM Plex Mono";
    color: white;
    border-style: solid;
    border-color: white;
    padding: 50px;
    padding-right: 200px;
    width: 800px;
    height: 500px;
    margin-top: 4rem;
}
.overlay3g {
    display: flex;
    left: 800px;
    z-index: 20;
    position: absolute;
    top: 13rem;
    border-radius: 500px;
    height: 390px;
    width: 285px;
}
.skills {
    position: relative;
    padding: 100px;
    bottom: 10rem;
    width: 1280px;
    margin-top: 38rem;
}
.grid-containerskills {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100px 300px;
    grid-gap: 30px;
    padding: 10px;
    position: relative;
    z-index: 10;
}

.skillsHeader {
    font-size: 80px;
    font-family: "Playfair Display";
    color: white;
    position: absolute;
    z-index: 10;
    top: -1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.item1, .item2, .item3, .item4 {
    font-size: 40px;
    font-family: 'Syne';
    color: white;
    padding: 20px;
    text-align: center;
}

ul#list {
    font-size: 20px;
    font-family: 'IBM Plex Mono';
    color: white;
    border-radius: 30px;
    border-color: white;
    width: 275px;
    height: 555px;
    padding: 50px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 30;
}


.circle1 {
    width: 600px;
    height: 277px;
    position: absolute;
    top: -6rem;
    left: -14rem;
}
.circle2 {
    position: absolute;
    top: 8rem;
    left: 18rem;
    width: 87px;
    transform: rotate(180deg);
}
.circle3 {
    position: absolute;
    width: 5rem;
    left: -5rem;
    top: -14rem;
}
.circle4 {
    position: absolute;
    right: 7rem;
    bottom: -5rem;
    width: 268px;
}
.circle5 {
    position: absolute;
    bottom: -8rem;
    right: 30rem;
    width: 69px;
    transform: rotate(245deg);
}
.circle7 {
    position: absolute;
    bottom: 5rem;
    right: -6rem;
    width: 35px;
    transform: rotate(160deg);
}
.proj {
  margin-top: 10rem;
  width: 1200px;
  left: 2.5rem;
  color: white;
}
.selected {
    font-size: 5rem;
    font-family: "syne";
    font-weight: 500;
    bottom: 3rem;
    left: 21rem;
    position: relative;
}

.proj2 {
    font-size: 5rem;
    font-family: syne;
    font-weight: 500;
    bottom: 4rem;
    left: 34rem;
    position: relative;
}
.carousel-caption d-none d-md-block {
    font-family: "Playfair Display" !important;
    background: rgba(0, 0, 0, 0.7);
    width: 59rem !important;
    height: 11rem !important;
    left: 2rem;
    height: 11rem;
    bottom: 55px;
}
.seemorebtn {
    background: rgba(0, 0, 0, 0.7);
    font-family: "syne";
    font-size: 24px;
    color: orange;
    border-style: solid;
    border-radius: 10px;
    padding: 15px;

    width: 155px;
    height: 67;
    z-index: 10;
    
}

h5{
    font-size: 23px;
    font-family: 'Syne';
    background: rgba(0, 0, 0, 0.7);
}
.footer{
    color: #fff;
    padding: 40px ; 
    width: -webkit-fill-available;
    font-size: 25px;
    font-family: syne;
    background: rgba(0, 0, 0, 0.2);
    
}

.footer-container {
    max-width: 1200px;
    
    padding: 0 20px;
}

.connect {
    font-size: 5rem;
    font-family: Playfair Display;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
}
.grid-containerconn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
    padding: 110px;
    position: relative;
    z-index: 10;
}
#connect {
    font-size: 5rem;
    font-family: Playfair Display;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 10rem;
    position: relative;
    z-index: 10;
}
.btn1, .btn2, .btn3, .btn4{
    text-align: center;
    font-size: 50px;
    font-family: 'IBM Plex Mono';
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    width: 25rem;
    height: 10rem;
    border: white;
    border-radius: 30px;
    border-style: groove;
}

.btn1 i, .btn2 i, .btn3 i, .btn4 i {
    padding: 2rem;
}

.cC1{
    width: 15rem;
    transform: rotate(45deg);
    position: absolute;
    bottom: 36rem;
    right: 1rem;
}

.cC2 {
    width: 6rem;
    transform: rotate(95deg);
    position: absolute;
    bottom: 36rem;
    right: 18rem;
}
.cC3{
    width: 3rem;
    transform: rotate(95deg);
    position: absolute;
    bottom: 43rem;
    right: 51rem;
}
.cC4{
    width: 9rem;
    transform: rotate(45deg);
    position: absolute;
    bottom: 18rem;
    right: 33rem;
}

.cC5 {
    width: 22rem;
    transform: rotate(210deg);
    position: absolute;
    bottom: 0rem;
    right: 52rem;
}
.cC6 {
    width: 2rem;
    transform: rotate(185deg);
    position: absolute;
    bottom: 5rem;
    right: 1rem;
}


